@use "../common/mixin" as *;
@use "../common/breakpoints" as *;
@use "../common/color" as *;
@use "../common/font-size" as *;

.calculator-page {
    @include flex-row;
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 32px;
    padding-inline: 32px;

    @media(max-width:900px) {
        gap: 0px;
        flex-direction: column;
    }

    .parent-top {
        width: 100%;
        max-width: 800px;
    }

    .parent {
        width: 100%;
        background: $bg-color-main-divs;
        border: 1px solid var(--gray150);
        border-radius: 10px;
        padding: 20px;

        .tabContainer {
            position: relative;
            max-height: 55px;
            display: flex;
            width: auto;
            font-size: var(--font-size-16);

            .tabItem {
                border-radius: 20px;
                height: 40px;
                width: 50%;
                flex-direction: row;
                display: flex;
                z-index: var(--zindex1);
                color: var(--green500);
                padding: 0 20px;
                justify-content: center;
                font-weight: bold;
                align-items: center;
            }

            .selected {
                background: var(--green100);
                color: var(--green500);
            }

            .unselected {
                color: var(--gray700);
            }
        }

        .option {
            display: flex;
        }

        .symbol {
            margin-left: 5px;
            font-weight: bold;
            margin-right: 2px;
        }

        .variant {
            border: 1px solid var(--gray150);
            border-radius: 5px;
            display: flex;
            height: 30px;
            align-items: center;
            padding: 0px 5px;
            background: var(--green100);
            color: var(--green500);
        }

        .variant-count {
            text-align: right;
            width: 82px;
            font-weight: bold;
            margin-left: 10px;
            margin-right: 5px;
        }
    }

    .rightExtra {
        display: flex;
        flex-direction: column;
        width: 384px;
        max-width: 384px;
        margin-bottom: 15px;

        @media(max-width:476px) {
            width: 100%;
        }

        .investNow {
            display: flex;
            flex-direction: column;
            background: $bg-color-main-divs;
            padding: 20px;
            width: 100%;
            align-items: center;
            border: 1px solid var(--gray150);
            border-radius: 5px;
        }

        .otherCalculator {
            display: flex;
            margin-top: 20px;
            background: $bg-color-main-divs;
            flex-direction: column;
            width: 100%;
            align-items: center;
            border: 1px solid var(--gray150);
            border-radius: 5px;

            .Title {
                width: 100%;
                padding: 10px 15px;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.375rem;
                border-bottom: 1px solid var(--gray150);
            }

            .LinkElement {
                text-decoration: none;
                width: 100%;
                border-bottom: 1px solid var(--gray150);
                padding: 8px 15px;
                display: block;
                font-size: 14px;
                color: var(--gray900);

                &:hover {
                    background-color: var(--green100);
                }
            }

        }
    }

    @media (max-width: 475px) {
        @include flex-column;
        padding-inline: 15px;

        .parent {
            padding: 10px;
        }

        .option {
            font-size: 14px;
        }

        .variant .variant-count {
            width: 70px;
            margin-left: 5px;
        }
    }
}