$font-family-Main: "Signika", sans-serif;

//title font-size
$title-fonts: 1.4rem;

body,
html {
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-44: 44px;
    --font-size-56: 56px;
    --font-weight-regular: 435;
    --font-weight-medium: 535;
    --font-weight-bold: 660;
}