@use "./breakpoints" as *;
@use "./mixin" as *;
@use "./color" as *;
@use "./font-size" as *;

.loader {
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: "center";
    align-items: "center";
    height: 100%;

    .inner_loader{
        margin-top: 20px;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
    }

    .heading-loader{
        font-size: 22px;
        margin-top: 20px;
    }
}