@use "../common/breakpoints" as *;
@use "../common/mixin" as *;
@use "../common/color" as *;
@use "../common/font-size" as *;


.header-main {
  height: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  padding-inline: 32px;
  border-bottom: 1px solid var(--gray150);

  .header-logo {
    img {
      height: 60px;
    }
  }

  .header-text {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;

    h1 {
      width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 32px;
    }
  }
}